.container .header {
  background-image: url(../image/header.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 666px;
  background-repeat: no-repeat;
}
.header {
  padding: 4% 13% 0;
}
.logo {
  height: fit-content;
}
.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 120%;
}
.about p {
  font-size: 18px;
  line-height: 165%;
}
.form {
  width: 456px;
  height: 457px;
  background: #ffffff;
}

.content {
  margin: 75px 0 50px;
}

.content > .row {
  justify-content: center;
  margin-top: 50px;
}

.content > .row:first-child {
  margin-top: 75px;
}

.content .row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 50px;
}

.content .row .number {
  background: #2f80ed;
  color: #ffffff;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
.content .row .name {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  margin: 25px 0 15px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f3f3f3;
  height: fit-content;
  padding: 80px 0;
}

.tips {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  padding: 80px 0;
}

.question {
  font-family: Poppins;
  text-align: center;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  padding: 80px 10px;
}

.container > div > h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  padding: 0 10px;
  text-align: center;
}
.container > div > p {
  font-weight: 500;
  width: 600px;
  font-size: 16px;
  line-height: 165%;
  color: #414141;
  text-align: center;
}
.container > div > a,
.container > div > a:hover,
.container > div > a:active {
  color: #2f80ed;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
}
.container > div > button {
  border: none;
  outline: none;
  background: #2f80ed;
  border-radius: 4px;
  height: 60px;
  width: 237px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.container > div > div.row {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.tips > div.row > div {
  margin: 5px;
  width: 240px;
  height: 340px;
  position: relative;
}

.tips a {
  text-align: center;
}

.tips > div.row > div .line {
  width: 85%;
  height: 89.5%;
  background: transparent;
  border: 2px solid #ffffff;
  position: absolute;
  margin: 7.5%;
}
.tips > div.row > div .name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.tips > div.row > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 5% 13% 0;
  height: 462px;
  background: #242527;
}

/* swiper slide*/
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background: #f3f3f3;
}

.swiper-container {
  width: 800px;
  min-height: 80%;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  font-style: italic;
  text-align: center;
  color: #333333;
  padding: 0 70px;
}
.swiper-slide .icon {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #2f80ed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.icon span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 47px;
  color: #ffffff;
  margin-top: 22px;
}

.swiper-slide h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 126%;
  margin-bottom: 40px;
  text-align: center;
}
.swiper-slide > span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.8%;
  margin-top: 16px;
  margin-bottom: 40px
}
.swiper-button-next,.swiper-button-prev{
  outline: none;
}

h2{
  text-align: center;
  padding: 0 10px;
}

@media only screen and (max-width: 1060px) {
  .tips > div.row {
    justify-content: space-evenly;
    width: 700px;
  }
}

@media only screen and (max-width: 600px) {
  .swiper-slide h2{
    font-size: 20px;
  }
}
